// saira
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Quicksand
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

// Confortaa
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
:root {
  --pPhoneSize: 0.7rem;
  --h1PhoneSize: 1.7rem;
  --h2PhoneSize: 1.5rem;
  --h3PhoneSize: 1.3rem;
  --h4PhoneSize: 1rem;
  --h5PhoneSize: 0.7rem;
  --h6PhoneSize: 0.6rem;
  --linkPhoneSize: 0.8rem;
  --iconPhoneSize: 1rem;
  --pDesktopSize: 1rem;
  --h1DesktopSize: 5.5rem;
  --h2DesktopSize: 3rem;
  --h3DesktopSize: 2rem;
  --h4DesktopSize: 1.3rem;
  --h5DesktopSize: 1.1rem;
  --h6DesktopSize: 0.8rem;
  --linkDesktopSize: 0.8rem;
  --iconDesktopSize: 1rem;
  --lh: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-transform: none;
  letter-spacing: 1px;
  color: var(--pureWhite);
}

p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Comfortaa", cursive;
  text-transform: none;
  letter-spacing: 1px;
  color: var(--pureWhite);
  text-shadow: 1px 1px 20px #000000;
}

h1 {
  font-size: var(--h1DesktopSize);
  font-family: "Saira", sans-serif;
}
h2 {
  font-size: var(--h2DesktopSize);
  font-family: "Saira", sans-serif;
}
h3 {
  font-size: var(--h3DesktopSize);
  // text-shadow: 1px 1px 20px #000000;
  font-family: "Saira", sans-serif;
}
h4 {
  font-size: var(--h4DesktopSize);
  font-weight: lighter;
  font-family: "Saira", sans-serif;
}
h5 {
  font-size: var(--h5DesktopSize);
  font-family: "Comfortaa", cursive;
  font-weight: lighter;
  font-stretch: 2rem;
  font-kerning: 2rem;
  text-shadow: 1px 1px 20px #000000;
}
h6 {
  font-family: "Comfortaa", cursive;
  font-size: var(--h6DesktopSize);
}
p {
  font-family: "Comfortaa", cursive;
  font-size: var(--pDesktopSize);
  line-height: var(--lh);
}
a {
  font-family: "Comfortaa", cursive;
  font-size: var(--linkDesktopSize);
  text-decoration: none;
}
i {
  font-family: "Comfortaa", cursive;
  font-size: var(--iconDesktopSize);
}

.vertical {
  writing-mode: tb-rl;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  white-space: nowrap;
  display: block;
  bottom: 0;
  width: 20px;
  height: 20px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate__height {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blend-Mode {
  mix-blend-mode: difference;
  transition: 500ms;
}
.blend-Mode:hover {
  background-color: var(--transparentLowGray);
  transition: 500ms;
  color: var(--lightBlue);
  mix-blend-mode: unset;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--pureBlack);
    text-shadow: unset;
  }

  h1 {
    font-size: var(--h1PhoneSize);
  }
  h2 {
    font-size: var(--h2PhoneSize);
  }
  h3 {
    font-size: var(--h3PhoneSize);
  }
  h4 {
    font-size: var(--h4PhoneSize);
  }
  h5 {
    font-size: var(--h5PhoneSize);
  }
  h6 {
    font-size: var(--h6PhoneSize);
  }
  p {
    font-size: var(--pPhoneSize);
    color: var(--pureBlack);
    text-shadow: unset;
  }
  a {
    font-size: var(--linkPhoneSize);
  }
  i {
    font-size: var(--iconPhoneSize);
  }
}
