.imagesCarousel__container {
  position: relative;
  min-height: 200px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.imagesCarousel__container > ul {
  padding-top: 1%;
  margin-top: 1%;
  position: relative;
  list-style: none;
  display: flex;
  gap: 3%;
}

.carrousel__item--movie {
  width: 100% !important;
  height: 100%;
}

.react-multiple-carousel__arrow {
  display: none;
}

.imageContainer {
  width: 30vw;
  height: 80vh;
  overflow: hidden;
  cursor: pointer;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
