.App-header {
  position: absolute;
  top: 0;
  height: 200px;
  width: 100%;
  z-index: 200;
}

.logo__container {
  height: 100%;
  transform: translate(1.5vw, 4vh);
  width: 50vw;
}

.logo__container img {
  height: 100%;
  object-fit: cover;
}

.profilePicture__container {
  max-height: 30px;
  max-width: 30px;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  outline: solid 1px rgb(0, 0, 0);
}

.profilePicture__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  color: rgb(0, 0, 0);
}

.textPlaylistHeader {
  color: black;
  text-shadow: unset;
}
