@import "https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/lux/bootstrap.css";
@import "./sass/colors";
@import "./sass/text_style";

* {
  box-sizing: border-box;
}

#root,
html {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}
